.nav {
	list-style-type: none;
	border: 1px solid transparent;
}

#main-nav-container {
	position: relative;
	margin-bottom: 20px;
	max-height: 50px;
	background-color: $primary-bg-color;
	border-color: darken( $primary-bg-color, 10% );
	z-index: 1000;
	text-align: center;
}

#main-nav {
	display: inline-block;
	padding: 0;
	margin: 0;

	li {
		display: block;
		float: left;
		position: relative;

		a {
			display: block;
			position: relative;
			padding: 10px 15px;
			min-height: 50px;
			color: $primary-color;
			font-family: $primary-font;
			font-size: 1.5em;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: darken( $primary-color, 10% );
			}
		}
	}

	#main-nav-logo {
		a {
			padding: 0 25px;
			margin-top: -25px;

			img {
				border-radius: 50px;
			}
		}
	}
}
